@import url(../shared/mensagemValidacao.css);

.main-image{
    background-image: url(../../assets/images/admin/background-image.png); 
    background-size: cover;
    background-repeat: no-repeat;
  
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100vh;
}
.main-form{
    display: flex;
}
.form-signin{
    margin: auto;
    width: 80%;
    height: 90%;
    background: white;
}
.form-signin input{
    height: 7vh;
}
.logo{
    width: 100%;
    height: 15vh;
}

@media (max-width: 991px) {
    .main-image{
      display: none;
      /* position: absolute;
      flex: 0 0 100%;
      background-color: red; */
    }
  }
  